Enable records longer than 255 chars

<!--
This form is for bug reports and feature requests ONLY!  
If you're looking for help check out [our support guidelines](/SUPPORT.md).
-->
**Is this a BUG REPORT or FEATURE REQUEST?**:
feature

**What happened**:
Currently we error on records being longer than 255 chars as this is the maximum safe length of a TXT record.

**What you expected to happen**:
Allow multiple TXT records to be merged for TXTDirect to function accordingly.

**How to reproduce it (as minimally and precisely as possible)**:
Example:
```
"v=txtv0;type=host;re=^\\/([^\\/]*)\\/\\?$;https://cs.k8s.io/?q=$1&i=fosho&files=.*(%5E%5B%5Ev%5D.*OWNERS%24)%7C(%5Ev%5B%5Ee%5D.*OWNERS%24)%20%7C(%5Eve%5B%5En%5D.*OWNERS%24)%7C(%5Even%5B%5Ed%5D.*OWNERS%24)%7C(%5Evend%5B%5Eo%5D.*OWNERS%24)%7C(%5Evendo%5B%5Er%5D.*OWNERS%24)%7C(%5E%5B%5Ev%5D%5B%5Ee%5D%5B%5En%5D%5B%5Ed%5D%5B%5Eo%5D%5B%5Er%5D%2F.*OWNERS%24)%7C%5EOWNERS%24%7C%5EOWNERS_ALIASES%24&repos="
```
**Anything else we need to know?**:
General idea would be:
* loop through all records and check for *v=txtvX* aka any version from TXTDirect
* sort them according to *p=X*
* default single records and records without *p=* to *p=1*
* merge each record key according to *p=X*

Idea:
```
"v=txtv0;type=host;re=^\\/([^\\/]*)\\/\\?$;to=https://cs.k8s.io/?q=$1&i=fosho&files=.*(%5E%5B%5Ev%5D.*OWNERS%24)%7C(%5Ev%5B%5Ee%5D.*OWNERS%24)%20%7C(%5Eve%5B%5En%5D.*OWNERS%24)%7C(%5Even%5B%5Ed%5D.*OWNERS%24)%7C(%5Evend%5B%5Eo%5D.*OWNERS%24)%7C(%5Evendo%5B%5Er%5D.*OWNERS%24)"
"p=2;to=%7C(%5E%5B%5Ev%5D%5B%5Ee%5D%5B%5En%5D%5B%5Ed%5D%5B%5Eo%5D%5B%5Er%5D%2F.*OWNERS%24)%7C%5EOWNERS%24%7C%5EOWNERS_ALIASES%24&repos="
```


The recommended way would be to follow RFC 4408:
```
3.1.3.  Multiple Strings in a Single DNS record

   As defined in [RFC1035] sections 3.3.14 and 3.3, a single text DNS
   record (either TXT or SPF RR types) can be composed of more than one
   string.  If a published record contains multiple strings, then the
   record MUST be treated as if those strings are concatenated together
   without adding spaces.  For example:

      IN TXT "v=spf1 .... first" "second string..."

   MUST be treated as equivalent to

      IN TXT "v=spf1 .... firstsecond string..."

   SPF or TXT records containing multiple strings are useful in
   constructing records that would exceed the 255-byte maximum length of
   a string within a single TXT or SPF RR record.
```

This needs to be checked, if all implementations adhere to this. 
